{% load static %}
<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__top">
            <span class="footer__top__logo"></span>
            <div class="footer__top__text">
                <span class="footer__top__text__item">
                    Вакансии
                </span>
                <span class="footer__top__text__item">
                    Обучение сотрудников
                </span>
            </div>
        </div>
        <div class="footer__mid">
            <div class="footer__mid__contacts">
                <div class="footer__mid__contacts__text">
                    <div class="footer__mid__phone">
                        <span class="footer__text__item__main">
                            +7 938 296-64-62
                        </span>
                        <span class="footer__text__item__secondary">
                            Отдел бронирования
                        </span>
                    </div>

                    <div class="footer__mid__time">
                        <span class="footer__text__item__main">
                            с 9:00 до 22:30
                        </span>
                        <span class="footer__text__item__secondary">
                            Без выходных
                        </span>
                    </div>
                </div>
                <div class="footer_mid__contacts__icons">
                    <button class="button button__icon secondary">
                        <img width="24" height="24" src="{% static '/icons/vkontakte.svg' %}">
                    </button>
                    <button class="button button__icon secondary">
                        <img width="24" height="24" src="{% static '/icons/telegram.svg' %}">
                    </button>
                    <button class="button button__icon secondary">
                        <img width="24" height="24" src="{% static '/icons/youtube.svg' %}">
                    </button>
                </div>
            </div>
            <div class="footer__mid__nav">
                <div class="footer__mid__nav__title">
                    Навигация
                </div>

                <div class="footer__mid__nav__tabs">
                    <a class="footer__mid__nav__tab">О нас</a>
                    <a class="footer__mid__nav__tab">Контакты</a>
                    <a class="footer__mid__nav__tab">Вопросы</a>
                    <a class="footer__mid__nav__tab">Акции</a>
                    <a class="footer__mid__nav__tab">Правила проживания</a>
                </div>
            </div>
            <div class="footer__mid__nav">
                <div class="footer__mid__nav__title">
                    Города
                </div>

                <div class="footer__mid__nav__tabs">
                    <a class="footer__mid__nav__tab">Сочи</a>
                    <a class="footer__mid__nav__tab">Краснодар</a>
                    <a class="footer__mid__nav__tab">Ростов-на-Дону</a>
                    <a class="footer__mid__nav__tab">Таганрог</a>
                </div>
            </div>
            <div class="footer__mid__btns">
                <div class="footer__mid__btns__download">
                    <a class="text-decoration-none" href="">
                        <img class="mb-1" src="{% static '/img/GooglePlay_btn.svg' %}" width="137px" alt="">
                    </a>
                    <a class="text-decoration-none" href="">
                        <img class="mb-1" src="{% static '/img/AppGallery_btn.svg' %}" width="137px" alt="">
                    </a>
                    <a class="text-decoration-none" href="">
                        <img class="mb-1" src="{% static '/img/RuMarket_btn.svg' %} " width="137px" alt="">
                    </a>
                    <a class="text-decoration-none" href="">
                        <img class="mb-1" src="{% static '/img/Rustore_btn.svg' %}" width="137px" alt="">
                    </a>
                </div>
                <div class="footer__mid__btns__qr">
                    <img class="footer__mid__btns__qr__img" src="{% static '/img/bi_qr-code.svg' %}" alt="qr">
                    <span class="footer__mid__btns__qr__text">Сканируйте<br> QR-код</span>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <span class="footer__bottom__text">
                Публичный договор оферты
            </span>
            <span class="footer__bottom__text">
                © 2024 Все права защищены
            </span>
            <span class="footer__bottom__text">
                Политика конфидециальности
            </span>
        </div>
    </div>

    <div class="footer__wrap__mobile">
        <div class="footer__top">
            <span class="footer__top__logo"></span>
            <div class="footer__top__text">
                <div class="footer__mid__phone">
                    <span class="footer__text__item__main">
                        +7 938 296-64-62
                    </span>
                    <span class="footer__text__item__secondary">
                        Отдел бронирования
                    </span>
                </div>
                <div class="footer__mid__time">
                    <span class="footer__text__item__main">
                        с 9:00 до 22:30
                    </span>
                    <span class="footer__text__item__secondary">
                        Без выходных
                    </span>
                </div>
            </div>
        </div>
        <div class="footer__mid">
            <div class="footer__mid__contacts">
                <div class="footer__mid__contacts__text">
                    <div class="footer__mid__nav">
                        <div class="footer__mid__nav__title">
                            Навигация
                        </div>

                        <div class="footer__mid__nav__tabs">
                            <a class="footer__mid__nav__tab">О нас</a>
                            <a class="footer__mid__nav__tab">Контакты</a>
                            <a class="footer__mid__nav__tab">Вопросы</a>
                            <a class="footer__mid__nav__tab">Акции</a>
                            <a class="footer__mid__nav__tab">Правила проживания</a>
                        </div>
                    </div>
                    <div class="footer__mid__nav">
                        <div class="footer__mid__nav__title">
                            Города
                        </div>

                        <div class="footer__mid__nav__tabs">
                            <a class="footer__mid__nav__tab">Сочи</a>
                            <a class="footer__mid__nav__tab">Краснодар</a>
                            <a class="footer__mid__nav__tab">Ростов-на-Дону</a>
                            <a class="footer__mid__nav__tab">Таганрог</a>
                        </div>
                    </div>
                </div>
                <div class="footer_mid__contacts__icons">
                    <button class="button button__icon secondary">
                        <img width="24" height="24" src="{% static '/icons/vkontakte.svg' %}">
                    </button>
                    <button class="button button__icon secondary">
                        <img width="24" height="24" src="{% static '/icons/telegram.svg' %}">
                    </button>
                    <button class="button button__icon secondary">
                        <img width="24" height="24" src="{% static '/icons/youtube.svg' %}">
                    </button>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__mid__btns">
                <div class="footer__mid__btns__download">
                    <a class="text-decoration-none" href="">
                        <img class="mb-1" src="{% static '/img/GooglePlay_btn.svg' %}" width="137px" alt="">
                    </a>
                    <a class="text-decoration-none" href="">
                        <img class="mb-1" src="{% static '/img/AppGallery_btn.svg' %}" width="137px" alt="">
                    </a>
                </div>
                <div class="footer__mid__btns__download">
                    <a class="text-decoration-none" href="">
                        <img class="mb-1" src="{% static 'img/RuMarket_btn.svg' %}" width="137px" alt="">
                    </a>
                    <a class="text-decoration-none" href="">
                        <img class="mb-1" src="{% static 'img/Rustore_btn.svg' %}" width="137px" alt="">
                    </a>
                </div>
            </div>
            <span class="footer__bottom__text">
                Вакансии
            </span>
            <span class="footer__bottom__text">
                Обучение сотрудников
            </span>
            <span class="footer__bottom__text">
                Публичный договор оферты
            </span>
            <span class="footer__bottom__text">
                © 2024 Все права защищены
            </span>
            <span class="footer__bottom__text">
                Политика конфидециальности
            </span>
        </div>
    </div>
</footer>
