{% load static %}
<header>
    <div class="header__wrap">
        <div class="header__tabs">
            <a href="" class="header__tabs__promo">Акции</a>
            <a href="" class="header__tabs__contacts">Контакты</a>
            <a href="" class="header__tabs__questions">Вопросы</a>
            <a href="" class="header__tabs__rules">Правила проживания</a>
        </div>
        <a href="/">
            <span class="header__logo"></span>
        </a>
        <div class="header__btns">
            <div class="header__btns__phone">
                <span class="header__btns__phone__number">+7 938 296-64-62</span>
                <span class="header__btns__phone__text">Отдел бронирования</span>
            </div>
            <div class="header__btns__time">
                <span class="header__btns__time__info">с 9:00 до 22:30</span>
                <span class="header__btns__time__text">Без выходных</span>
            </div>
            <button class="button header__btns__login button__text secondary">
                <img class="button__icon__home"/>
                Войти
            </button>
            <span class="header__btns__menu" onclick="openNav()"></span>
        </div>
    </div>

    <div id="mySidenav" class="side-menu">
        <div class="side-menu-top" id="mySidenavTop">
            <span class="side-menu-close" onClick="closeNav()"></span>
            <span id="mySidenavText" class="side-menu-title">Меню</span>
        </div>
        <div class="side-menu-body" id="mySidenavBody">
            <div class="sidenav__header__tabs">
                <a href="" id="mySidenavText" class="header__tabs__promo">Акции</ы>
                    <a href="" class="header__tabs__contacts">Контакты</a>
                    <a href="" class="header__tabs__questions">Вопросы</a>
                    <a href="" class="header__tabs__rules">Правила проживания</a>
            </div>
        </div>
    </div>
</header>