{% load static %}
<header>
    <nav class="navbar navbar-light navbar-expand-md bg-white">
        <div class="container">
            <a class="navbar-brand abs" href="{% url 'main_page' %}">
{#                <img src="assets/img/logo.png" class="rounded float-left" alt="..."/>#}
                <img src="{% static 'img/logo.png' %}" class="rounded float-left"/>
            </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapseNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item me-4">
                        <a href="#" class="nav-link text-dark">
                            Акции
                        </a>
                    </li>

                    <li class="nav-item me-4">
                        <a href="#" class="nav-link text-dark">
                            Контакты
                        </a>
                    </li>

                    <li class="nav-item me-4">
                        <a href="{% url 'faq' %}" class="nav-link text-dark">Вопросы</a>
                    </li>

                    <li class="nav-item me-4">
                        <a href="{% url 'rules' %}" class="nav-link text-dark">Правила проживания</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mt-3">
                    <li class="nav-item me-5">
                        <div class="nav-link">
                            <p class="text-dark">
                                <a class="text-decoration-none" href="tel:+79382966462">
                                    <b class="text-dark">+7 938 296-64-62</b>
                                </a>
                                <br>
                                Отдел бронирования
                            </p>
                        </div>
                    </li>

                    <li class="nav-item me-4">
                        <div class="nav-link">
                            <p class="text-dark">
                                <b class="text-dark">c 9:00 до 22:30</b>
                                <br>
                                Без выходных
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="seccondary_btn home noselect">
                            <img src="{% static 'img/home_primary.svg' %}" alt="">
                            <span>Войти</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
