{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/common_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/faq.css' %}"/>

    <title>Вопросы</title>
</head>

<body>
{% include "common/header.html" %}
<main>
    <div class="container">
        <a href="/" сlass="primary">Главная</a> > Вопросы
    </div>

    <div class="container" style="padding-top: 117px">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col col-md-4">
                <div class="container tile">
                    <div class="title_text">
                        <p class="h2 primary">Часто задаваемые вопросы</p>
                    </div>
                    <div class="info_text">
                        Здесь представлены подробные ответы на самые популярные вопросы
                    </div>

                    <div>
                        <img class="pic" src="{% static '/img/faq_img.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col col-md-8">
                <div class="row">

                    {% for question in faq %}
                        {% with num=question.order %}
                            <div class="container tile">
                                <div class="rem_outline" id="{{ num }}">
                                    <h2 class="accordion-header" id="question_{{ num }}">
                                        <button type="button" class="accordion-button collapsed"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#answer_{{ num }}">
                                            <div class="num_badge">{{ num }}</div>
                                            <div class="question_header">{{ question.faq_name }}</div>
                                        </button>
                                    </h2>
                                    <div id="answer_{{ num }}" class="accordion-collapse collapse"
                                         data-bs-parent="#question_acc_{{ num }}">
                                        <div class="card-body">
                                            <p class="question_content">
                                                {{ question.faq_text }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'common/footer.html' %}

<script src="{% static 'scripts/bootstrap_pooper/bootstrap.bundle.min.js' %}"></script>
</body>

</html>