{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/daterangepicker.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/daterangepicker.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/styles/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/common_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_page.css' %}">

    <title>Посуточная аренда квартир</title>
</head>

<body>
{% include "common/header.html" %}
<main>
    <div class="row" style="padding-top: 100px">
        <div class="container">
            <div class="head_div">
                <p>Аренда квартир посуточно на юге России</p>
                <p>
                    Проведите свой отпуск или выходные с теплотой и уютом,
                    которые напомнят вам о домашнем комфорте
                </p>
            </div>

            <div class="container booking_form noselect">
                <form class="row row-cols-1 row-cols-md-5 align-items-center search-row">
                    <div class="col form_col">
                        <div class="col-content">
                            <div>Город</div>
                            <div class="city-dropdown-toggle" id="citiesDropdown" data-bs-toggle="dropdown"
                                 aria-expanded="false">Выберите город
                            </div>
                            <div class="dropdown-menu city-dropdown-menu" id="city-dropdown-menu"
                                 aria-labelledby="citiesDropdown">
                            </div>
                        </div>

                    </div>

                    <div class="col form_col">
                        <div class="col-content">
                            <div>Заезд</div>
                            <input type="text" id="arrival_date" name="arrival_date" value="Дата заезда"/>
                        </div>
                    </div>

                    <div class="col form_col">
                        <div class="col-content">
                            <div>Выезд</div>
                            <input type="text" id="deportation_date" name="deportation_date" value="Дата выезда"/>
                        </div>
                    </div>

                    <div class="col form_col">
                        <div class="col-content">
                            <div>Гости</div>
                            <div class="select dropdown">
                                <div class="guests-dropdown-toggle" id="guests-dropdown" data-bs-toggle="dropdown"
                                     aria-expanded="false" data-bs-auto-close="outside">Укажите гостей
                                </div>
                                <div class="dropdown-menu guests-dropdown-menu select__list" id="guests-dropdown-menu"
                                     aria-labelledby="guests-dropdown">
                                    <div class="select___item">
                                        <div class="select__item__title">
                                            <p class="select__title_main">Гости</p>
                                            <p class="select__title_hint">До 4-х человек</p>
                                        </div>
                                        <div class="select__item__count">
                                            <div class="select__count__btn" id="dec-adult-guests">-</div>
                                            <input class="select__count" type="number" name="adult-guests"
                                                   id="adult-guests" value="1" min="1" max="4">
                                            <div class="select__count__btn" id="inc-adult-guests">+</div>
                                        </div>
                                    </div>
                                    <hr class="divider_own"/>
                                    <div class="select___item">
                                        <div class="select__item__title">
                                            <p class="select__title_main">Дети</p>
                                            <p class="select__title_hint">До 1 года</p>
                                        </div>
                                        <div class="select__item__count">
                                            <div class="select__count__btn" id="dec-children">-</div>
                                            <input class="select__count" type="number" name="children" id="children"
                                                   value="0" min="0" max="10">
                                            <div class="select__count__btn" id="inc-children">+</div>
                                        </div>
                                    </div>
                                    <hr class="divider_own"/>
                                    <div class="select___item">
                                        <div class="select__item__title">
                                            <p class="select__title_main">Питомцы</p>
                                            <p class="select__title_hint">Только собаки, за доп.плату</p>
                                        </div>
                                        <div class="info_row_r">
                                            <label class="toggle">
                                                <input type="checkbox" name="pets" id="pets">
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="watch_flats noselect" id="guests-submit">
                                        <span>Подтвердить</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col form_col" onclick="search_apartments()">
                        <div class="search_button">
                            <img src="{% static 'img/icon-search.svg' %}">
                            <span>Найти</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="sofa_container">
        </div>
    </div>

    <div class="row bg-white promo_row d-flex">
        <div class="col">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col col-md-3" style="position: relative;">
                        <div class="container tile">
                            <img class="promo_icon" src="{% static 'img/ic_outline-shield.svg' %}" alt="">
                            <p class="promo_title">
                                Работаем с гарантией
                            </p>
                            <p class="promo_content">
                                Полное соответствие всех условий проживания заявленным требованиям
                            </p>
                        </div>
                    </div>

                    <div class="col col-md-3" style="position: relative;">
                        <div class="container tile">
                            <img class="promo_icon" src="{% static 'img/correct_promo.svg' %}" alt="">
                            <p class="promo_title">
                                Максимальное оснащение
                            </p>
                            <p class="promo_content">
                                Квартиры оборудованы всем необходимым для комфортного проживания
                            </p>
                        </div>
                    </div>

                    <div class="col col-md-3" style="position: relative;">
                        <div class="container tile">
                            <img class="promo_icon" src="{% static 'img/payments_logo.svg' %}" alt="">
                            <p class="promo_title">
                                Удобные способы оплаты
                            </p>
                            <p class="promo_content">
                                Принимаем оплату как переводом, так и наличными, по QR-коду или по расчетному счету
                            </p>
                        </div>
                    </div>

                    <div class="col col-md-3" style="position: relative;">
                        <div class="container tile">
                            <img class="promo_icon" src="{% static 'img/24h_promo.svg' %}" alt="">
                            <p class="promo_title">
                                Круглосуточно
                            </p>
                            <p class="promo_content">
                                Бесконтактное заселение в любое время суток в течение 5 минут после бронирования
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="head_div">
                <p>Куда сходить рядом?</p>
                <p>
                    Местные достопримечательности, рестораны, знаковые и интересные места
                </p>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4">
            <div class="col">
                <a href="/attractions/17/">
                    <div class="attraction_card">
                        <img src="{% static 'img/atraction_krasnodar_logo.jpg' %}" alt="">
                        <p class="card_title">Краснодар</p>
                        <p class="card_text">
                            Здесь тёплый климат, красивые парки и скверы, множество исторических
                            и культурных мест</p>
                    </div>
                </a>
            </div>


            <div class="col">
                <a href="/attractions/27/">
                    <div class="attraction_card">
                        <img src="{% static 'img/attraction_sochi_logo.jpg' %}" alt="">
                        <p class="card_title">Сочи</p>
                        <p class="card_text">
                            Город известнен своими горнолыжными курортами, парками и пляжами
                        </p>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/attractions/5/">
                    <div class="attraction_card">
                        <img src="{% static 'img/attraction_rostov_logo.jpg' %}" alt="">
                        <p class="card_title">Ростов-на-Дону</p>
                        <p class="card_text">
                            Важный культурный центр страны, с множеством музеев, театров и галерей
                        </p>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="/attractions/87/">
                    <div class="attraction_card">
                        <img src="{% static 'img/attraction_taganrog_logo.jpg' %}" alt="">
                        <p class="card_title">Таганрог</p>
                        <p class="card_text">
                            Один из старейших городов России, здесь множество исторических и культурных мест
                        </p>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="container diff_1">
        <div class="row">
            <div class="col">
                <div class="container download_tile no_rpadding">
                    <div class="row ">
                        <div class="col-8 right_pad">
                            <p class="app_download_text">Выбирайте квартиры в нашем мобильном приложении!</p>

                            <div class="buttons noselect">
                                        <span class="available_store inline">
                                            <img src="{% static 'img/google_play.svg' %}">
                                            <div>
                                                <span>Доступно в</span>
                                                <span>GooglePlay</span>
                                            </div>
                                        </span>

                                <span class="available_store inline">
                                            <img src="{% static 'img/appgallery.svg' %}">
                                            <div>
                                                <span>Доступно в</span>
                                                <span>AppGallery</span>
                                            </div>
                                        </span>

                                <div class="available_store">
                                    <img src="{% static 'img/rumarket.svg' %}">
                                    <div>
                                        <span>Доступно в</span>
                                        <span>RuMarket</span>
                                    </div>
                                </div>

                                <div class="available_store">
                                    <img src="{% static 'img/rustore.svg' %}">
                                    <div>
                                        <span>Доступно в</span>
                                        <span>Rustore</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 qr_section" style="position: relative;">
                            <img class="iphone_pic" src="{% static 'img/iphone.png' %}" alt="">

                            <div class="qr_pic_div">
                                <img class="" src="{% static 'img/bi_qr-code.svg' %}" alt="">
                                <p class="qr_pic_text">Сканируйте QR-код</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</main>
{% include "common/footer.html" %}

<script src="{% static 'scripts/bootstrap_pooper/bootstrap.bundle.min.js' %}">
</script>

<script src="{% static 'scripts/main.js' %}" crossorigin="anonymous">
</script>

</body>
</html>