@import url(reset.css);

@font-face {
    font-family: 'Atyp Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/atyp/AtypText-Regular.eot');
    src: local('Atyp Regular'),
    url('../fonts/atyp/AtypText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/atyp/AtypText-Regular.woff2') format('woff2'),
    url('../fonts/atyp/AtypText-Regular.woff') format('woff'),
    url('../fonts/atyp/AtypText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Vela Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vela Sans'),
    url('../fonts/vela_sans/VelaSans-Regular.woff2') format('woff2'),
    url('../fonts/vela_sans/VelaSans-Regular.woff') format('woff'),
    url('../fonts/vela_sans/VelaSans-Regular.ttf') format('truetype'),
    url('../fonts/vela_sans/VelaSans-Regular.otf') format('opentype');
}

:root {
    --primary: rgb(17, 115, 153);
    --hover: rgb(7, 96, 134);
    --pressed: rgb(13, 86, 118);
    --black: rgb(6, 31, 40);
    --body-text: rgb(50, 71, 80);
    --red: rgb(199, 45, 45);
    --dark-grey: rgb(192, 193, 199);
    --dividers: rgb(232, 233, 239);
    --cream: rgb(242, 243, 249);
    --white: rgb(255, 255, 255);
}

.primary {
    color: var(--primary);
}

.hover {
    color: var(--hover);
}

.pressed {
    color: var(--pressed);
}

.black {
    color: var(--black);
}

.body_text {
    color: var(--body-text);
}

.red {
    color: var(--red);
}

.dark_grey {
    color: var(--dark-grey);
}

.dividers {
    color: var(--dividers);
}

.cream {
    color: var(--cream);
}

.white {
    color: var(--white);
}

body {
    background-color: var(--cream) !important;
}

h1 {
    font-size: 60px;
    line-height: 110%;
}

h2 {
    font-size: 32px;
    line-height: 120%;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: var(--primary);
}

.available_store, .watch_flats, .seccondary_btn {
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    width: max-content;
    padding: 12px 24px;
    cursor: pointer;
}

.available_store {
    border: 1px solid var(--dividers);
    padding: 8px 12px;
}

.available_store > img, .watch_flats > img, .seccondary_btn > img {
    margin-right: 12px;
}

.available_store > img {
    width: 22px;
    height: 24px;
}

.watch_flats > img, .seccondary_btn > img {
    width: 24px;
    height: 24px;
}

.available_store > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.available_store > div > span, .available_store > div > span ~ span {
    color: var(--black);
    font-family: "Vela Sans";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.available_store > div > span {
    font-size: 10px;
}

.available_store > div > span ~ span {
    font-size: 14px;
}

.watch_flats {
    background-color: var(--primary);
}

.watch_flats > span, .seccondary_btn > span {
    font-kerning: none;
    font-family: "Vela Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
}

.watch_flats > span {
    color: var(--white);
}

.seccondary_btn > span {
    color: var(--primary);
}

.watch_flats:hover {
    background-color: var(--hover);
}

.watch_flats:active {
    background-color: var(--pressed);
}

.seccondary_btn {
    border: 2px solid var(--primary);
}

.seccondary_btn:hover {
    background-color: var(--primary);
}

.seccondary_btn:hover > span {
    color: var(--white);
}

.seccondary_btn:active {
    background-color: var(--pressed);
}

.home:hover > img, .profile:hover > img, .favourites:hover > img {
    content: url("../img/home_white.svg");
}

.profile:hover > img {
    content: url("../img/profile_white.svg");
}

.favourites:hover > img {
    content: url("../img/heart_white.png");
}

.share {
    padding: 12px;
}

.share > img {
    margin-right: 0;
}

.upload:hover > img {
    color: red;
}

.upload:hover {
    color: red;
}

.text_muted {
    color: var(--dark-grey);
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--dividers);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
    border: 3px solid var(--primary);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}