{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/nice-select2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/apartment_page_main_style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование квартиры по адресу {{ apartment.address }}</title>
</head>
{% include 'common/header.html' %}
<body class="body">
<section class="main">
    <div class="main__list">
        <div class="navigation">
        </div>

        <div class="main__content" id="info">
            <div class="apart__info">
                <div class="apart__header">
                    <div class="apart__header__name">
                        <span class="apart__header__name__icon"></span>
                        <span class="apart__header__name__text header__2">
                                {{ apartment.city.title }}, {{ apartment.address }}
                            </span>
                    </div>
                    <div class="apart__header__btns">
                        <button class="button apart__header__btns__book button__primary" id="button__book">
                            Забронировать
                        </button>

                        {% if user.is_authenticated %}
                            {% if apartment in user.favorites_apartments.all %}
                                <button class="button header__btns__login button__text secondary"
                                        onclick="location.href='/profile/favorites/'">
                                    Квартира в избранных
                                </button>
                            {% else %}
                                <a href="add_to_favorite/">
                                    <button class="button button__icon secondary apart__header__btns__share">
                                        <img width="24px" src="{% static 'img/heart_primary.png' %}"/>
                                    </button>
                                </a>
                            {% endif %}
                        {% endif %}

                        <a id="whatsapp_share" href=""
                           data-action="share/whatsapp/share">
                            <button class="button button__icon secondary apart__header__btns__share">
                                <img width="24px" src="{% static 'icons/share-fill.png' %}"/>
                            </button>
                        </a>


                    </div>
                </div>

                <div class="apart__pictures">
                    <div class="apart__pictures__big">
                        <div id="carouselExampleIndicators1" class="carousel slide"
                             data-bs-touch="true" data-bs-interval="false"
                             data-bs-wrap="false"
                        >
                            <div class="carousel-indicators">
                                {% for photo in apartment.photos.all %}
                                    {% if forloop.first %}
                                        <button type="button"
                                                data-bs-target="#carouselExampleIndicator{{ forloop.counter }}"
                                                data-bs-slide-to="{{ forloop.counter0 }}" class="slide-button active"
                                                aria-current="true"
                                                aria-label="Slide {{ forloop.counter }}"></button>
                                    {% else %}
                                        <button type="button"
                                                data-bs-target="#carouselExampleIndicators{{ forloop.counter0 }}"
                                                data-bs-slide-to="{{ forloop.counter0 }}" class="slide-button"
                                                aria-label="Slide {{ forloop.counter }}"></button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for photo in apartment.photos.all %}
                                    {% if forloop.first %}
                                        <div class="carousel-item active">
                                            <img src="{{ photo.photo_url }}"
                                                 class="d-block w-100 img-car"
                                                 alt="...">
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <img src="{{ photo.photo_url }}"
                                                 class="d-block w-100 img-car"
                                                 alt="...">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon-new" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                                <span class="carousel-control-next-icon-new" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <div class="apart__pictures__small">
                        <div class="miniatures">
                            {% for photo in apartment.photos.all %}
                                <img src="{{ photo.photo_url }}" class="miniature"
                                     data-slide-to="{{ forloop.counter0 }}"
                                     alt="...">
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="apart__short__info main__block__element">
                    <span class="subtitle__1">Краткая информация</span>
                    <div class="apart__short__info__tips">
                        <div class="apart__short__info__tip">
                            <img src="{% static 'icons/room.svg' %}" alt="...">
                            <span class="title__medium">Комнат: {{ apartment.rooms }}</span>
                        </div>
                        <div class="apart__short__info__tip">
                            <img src="{% static 'icons/bed.svg' %}" alt="...">
                            <span class="title__medium">Спальных мест: {{ apartment.sleeps }}</span>
                        </div>
                        <div class="apart__short__info__tip">
                            <img src="{% static 'icons/floor.svg' %}" alt="...">
                            <span class="title__medium">Этаж: {{ apartment.floor }}</span>
                        </div>
                        {% if apartment.area %}
                            <div class="apart__short__info__tip">
                                <img src="{% static 'icons/ruler.svg' %}" alt="...">
                                <span class="title__medium">Площадь: {{ apartment.area }}м²</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="apart__short__info__cards">
                        {% for sleep_type in sleep_types %}
                            {% if sleep_type == 1 %}
                                <div class="apart__short__info__card">
                                    <span class="apart__short__info__card__img">
                                        <img src="{% static 'icons/sofa.svg' %}" alt="...">
                                    </span>
                                    <div class="apart__short__info__card__text">
                                        <span class="title__medium">Диван</span>
                                        <span class="title__light">Односпальный</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="apart__short__info__card">
                                    <span class="apart__short__info__card__img">
                                        <img src="{% static 'icons/bed.svg' %}" alt="...">
                                    </span>
                                    <div class="apart__short__info__card__text">
                                        <span class="title__medium">Кровать</span>
                                        <span class="title__light">Двуспальная</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="apart__comforts main__block__element">
                    <span class="subtitle__1">Удобства в квартире</span>
                    <div class="apart__comforts__cards">
                        {% for service in apartment.services.all %}
                            <div class="apart__comforts__card">
                                <img src="{% static 'icons/'|add:service.service_name|add:'.svg' %}" width="24px"
                                     height="24px" alt="...">
                                <span class="title__medium">{{ service.service_title }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="apart__rules main__block__element">
                    <span class="subtitle__1">Правила заселения</span>
                    <div class="apart__rules__text">
                        <div class="apart__rules__text__rule">
                                    <span class="apart__rules__text__rule__number title__medium">
                                        1
                                    </span>
                            <span class="apart__rules__text__rule__text title__medium">
                                        Размещение круглосуточно
                                    </span>
                        </div>
                        <div class="apart__rules__text__rule">
                                    <span class="apart__rules__text__rule__number title__medium">
                                        2
                                    </span>
                            <span class="apart__rules__text__rule__text title__medium">
                                        Заезд после 14:00, выезд до 12:00
                                    </span>
                        </div>
                        <div class="apart__rules__text__rule secondary">
                                    <span class="apart__rules__text__rule__line">
                                    </span>
                            <span class="apart__rules__text__rule__number text__medium">
                                        2.1
                                    </span>
                            <span class="apart__rules__text__rule__text text__medium">
                                        В дни футбола и праздничные дни календаря заезд с 15:00, выезд до 12:00
                                   </span>
                        </div>
                        <div class="apart__rules__text__rule">
                                    <span class="apart__rules__text__rule__number text__medium">
                                        3
                                    </span>
                            <span class="apart__rules__text__rule__text text__medium">
                                        Ранний заезд и поздний выезд по согласованию
                                   </span>
                        </div>
                        <div class="apart__rules__text__rule">
                                    <span class="apart__rules__text__rule__number text__medium">
                                        4
                                    </span>
                            <span class="apart__rules__text__rule__text text__medium">
                                        Гости которые заезжают после 18:00 оплачивают бронь 100% и заезд дистанционно
                                   </span>
                        </div>
                        <div class="apart__rules__text__rule">
                                    <span class="apart__rules__text__rule__number text__medium">
                                        5
                                    </span>
                            <span class="apart__rules__text__rule__text text__medium">
                                        В другое время гость получает ключи через кейс-бокс и заселяется бесконтактно
                                   </span>
                        </div>
                        <div class="apart__rules__text__rule">
                                    <span class="apart__rules__text__rule__number text__medium">
                                        6
                                    </span>
                            <span class="apart__rules__text__rule__text text__medium">
                                        Залог за сохранность имущества — 2 000 ₽. Возвращается в день выезда после проверки и уборки квартиры, переводом на карту
                                   </span>
                        </div>
                        <div class="apart__rules__text__rule secondary">
                                    <span class="apart__rules__text__rule__line">
                                    </span>
                            <span class="apart__rules__text__rule__number text__medium">
                                        6.1
                                    </span>
                            <span class="apart__rules__text__rule__text text__medium">
                                        В праздничные и государственные дни возможен залог свыше 2 000 ₽
                                   </span>
                        </div>
                    </div>
                </div>

                <div class="apart__rules main__block__element">
                    <span class="subtitle__1">Описание</span>
                    <div>
                        {{ description|safe }}
                    </div>
                </div>


                <div class="apart__restrictions main__block__element">
                            <span class="subtitle__1">
                                Ограничения
                            </span>
                    <div class="apart__restrictions__text">
                        <div class="apart__restriction">
                            <img src="{% static 'icons/error.svg' %}" alt="">
                            <span class="text__medium">
                                        Не принимаем крупных питомцев
                                    </span>
                        </div>
                        <div class="apart__restriction">
                            <img src="{% static 'icons/error.svg' %}" alt="">
                            <span class="text__medium">
                                        Не работаем с людьми в нетрезвом состоянии
                                    </span>
                        </div>
                        <div class="apart__restriction">
                            <img src="{% static 'icons/error.svg' %} " alt="">
                            <span class="text__medium">
                                        Не сдаём лицам до 22 лет под вечеринки и мероприятия                         
                                    </span>
                        </div>
                    </div>
                </div>

                {#                <div class="aparts__places main__block__element">#}
                {#                            <span class="subtitle__1">#}
                {#                                Места поблизости#}
                {#                            </span>#}
                {##}
                {#                    <div class="aparts__places__nearby">#}
                {#                        <div class="aparts__places__header">#}
                {#                            <img src="{% static 'icons/nearby.svg' %}" alt="">#}
                {#                            <span class="aparts__places__header__text">#}
                {#                                        Рядом с домом#}
                {#                                    </span>#}
                {#                        </div>#}
                {#                        <ul class="aparts__places__grid">#}
                {#                            <li class="aparts__places__grid__item text__medium">#}
                {#                                Зона с мангалом и беседкой для барбекю за домом#}
                {#                            </li>#}
                {#                            <li class="aparts__places__grid__item text__medium">#}
                {#                                Краевая Клиническая Больница#}
                {#                            </li>#}
                {#                            <li class="aparts__places__grid__item text__medium">#}
                {#                                Центр грудной хирургии#}
                {#                            </li>#}
                {#                            <li class="aparts__places__grid__item text__medium">#}
                {#                                Магазин «Магнит»#}
                {#                            </li>#}
                {#                        </ul>#}
                {#                    </div>#}
                {##}
                {#                    <div class="aparts__places__landmark">#}
                {#                        <div class="aparts__places__header">#}
                {#                            <img src="{% static 'icons/landmark.svg' %}" alt="">#}
                {#                            <span class="aparts__places__header__text">#}
                {#                                        Места отдыха#}
                {#                                    </span>#}
                {#                        </div>#}
                {#                        <ul class="aparts__places__grid">#}
                {#                            <li class="aparts__places__grid__item text__medium">#}
                {#                                Зона с мангалом и беседкой для барбекю за домом#}
                {#                            </li>#}
                {#                            <li class="aparts__places__grid__item text__medium">#}
                {#                                Краевая Клиническая Больница#}
                {#                            </li>#}
                {#                            <li class="aparts__places__grid__item text__medium">#}
                {#                                Центр грудной хирургии#}
                {#                            </li>#}
                {#                            <li class="aparts__places__grid__item text__medium">#}
                {#                                Магазин «Магнит»#}
                {#                            </li>#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                </div>#}

                <div class="apart__button__up">
                    <button class="button button__text secondary" id="button__up">Наверх</button>
                </div>

            </div>
            <form action="booking/" method="post">
                <div class="booking__form" id="booking">
                    {% csrf_token %}
                    <div class="form__header">Бронирование</div>
                    <div class="form__date__info">
                        <div class="form__checkin">
                            <div class="form__date">
                                <span class="title__light">
                                    Заезд
                                </span>
                                <span class="title__medium">Выберите дату</span>
                                <input type="date" id="arrival_date" name="begin_date" required>
                            </div>
                            <div class="form__time">
                                <select class="selectize" name="arrival_time" required>
                                    <option data-display="Select">14:00</option>
                                    <option value="14:00">14:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="16:00">16:00</option>
                                    <option value="17:00">17:00</option>
                                    <option value="18:00">18:00</option>
                                    <option value="19:00">19:00</option>
                                    <option value="20:00">20:00</option>
                                    <option value="21:00">21:00</option>
                                    <option value="22:00">22:00</option>
                                    <option value="23:00">23:00</option>
                                    <option value="23:30">23:30</option>
                                </select>
                            </div>
                            <div id="booking_date_error_1" hidden>
                                <span><img src="/static/icons/error.svg" alt="">На выбранные даты объект занят</span>
                            </div>
                        </div>
                        <span class="form__arrow">
                            <img src="{% static 'icons/arrow-right.svg' %}"/>
                        </span>
                        <div class="form__departure">
                            <div class="form__date">
                                <span class="title__light">
                                    Выезд
                                </span>
                                <span class="title__medium">Выберите дату</span>
                                <input type="date" id="departure_date" name="end_date" required>
                            </div>
                            <div class="form__time">
                                <select class="selectize" name="departure_time" required>
{#                                    <option data-display="Select">8:00</option>#}
{#                                    <option value="8:30">8:30</option>#}
{#                                    <option value="9:00">9:00</option>#}
{#                                    <option value="9:30">9:30</option>#}
{#                                    <option value="10:30">10:30</option>#}
{#                                    <option value="11:00">11:00</option>#}
                                    <option data-display value="12:00">12:00</option>
                                </select>
                            </div>
                            <div id="booking_date_error_2" hidden>
                                <span><img src="/static/icons/error.svg" alt="">На выбранные даты объект занят</span>
                            </div>
                        </div>
                    </div>

                    <div class="form__personal__data">
                        <span class="form__personal__data__header header__2">
                            Введите свои данные
                        </span>

                        <div class="form__personal__data__contacts">
                            <div class="form__personal__data__contacts__name">
                                <span class="form__personal__data__contacts__title">
                                    Имя
                                </span>
                                <input
                                        placeholder='Ваше имя'
                                        name="fio"
                                        class="form__personal__data__contacts__name__input"
                                        value="{{ user.first_name }}"
                                        required
                                >
                            </div>

                            <div class="form__personal__data__contacts__phone">
                                <span class="form__personal__data__contacts__title">
                                    Телефон
                                </span>
                                <input
                                        placeholder='+7'
                                        name="phone"
                                        class="form__personal__data__contacts__phone__input"
                                        value="{{ user.phone_number }}"
                                        required
                                >
                            </div>
                        </div>

                        <div class="form__personal__data__email">
                            <span class="form__personal__data__email__header title__medium">
                                Электронная почта
                            </span>
                            <input
                                    placeholder='name@gmail.com'
                                    name="email"
                                    class="form__personal__data__email__input"
                                    value="{{ user.email }}"
                                    required
                            >
                        </div>
                    </div>

                    <div class="form__details">
                        <span class="form__details__header header__2">
                            Укажите детали
                        </span>

                        <div class="form__details__guests">
                            <div class="form__details__guests__text">
                                <span class="form__details__guests__title title__medium">
                                    Гости
                                </span>
                                <span class="form__details__guests__subtitle title__light">
                                    До 4-х человек
                                </span>
                            </div>
                            {#                        <div class="form__details__guests__counter">#}
                            {#                            <button class="form__details__counter__button minus">-</button>#}
                            {#                            <span class="form__details__counter__value" id="guests_counts">0</span>#}
                            {#                            <button class="form__details__counter__button plus">+</button>#}
                            {#                        </div>#}

                            <div class="select__item__count">
                                <div class="select__count__btn" id="dec-adult-guests">-</div>
                                <input class="select__count"
                                       type="number"
                                       name="adult-guests"
                                       id="adult-guests"
                                       value="1"
                                       min="1"
                                       max="4"
                                       required
                                >
                                <div class="select__count__btn" id="inc-adult-guests">+</div>
                            </div>
                        </div>

                        {#                    <div class="form__details__kids">#}
                        {#                        <div class="form__details__kids__text">#}
                        {#                                <span class="form__details__kids__title title__medium">#}
                        {#                                    Дети#}
                        {#                                </span>#}
                        {#                            <span class="form__details__kids__subtitle title__light">#}
                        {#                                    До 1 года#}
                        {#                                </span>#}
                        {#                        </div>#}
                        {#                        <div class="form__details__kids__counter">#}
                        {#                            <button class="form__details__counter__button minus">#}
                        {#                                -#}
                        {#                            </button>#}
                        {#                            <span class="form__details__counter__value">#}
                        {#                                    0#}
                        {#                                </span>#}
                        {#                            <button class="form__details__counter__button plus">#}
                        {#                                +#}
                        {#                            </button>#}
                        {#                        </div>#}
                        {#                    </div>#}

                        <div class="form__details__pets">
                            <div class="form__details__pets__text">
                                <span class="form__details__pets__title title__medium">
                                    Питомцы
                                </span>
                                <span class="form__details__pets__subtitle title__light">
                                    Только собаки, за доп.плату
                                </span>
                            </div>
                            <div class="form__details__pets__slider">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="flexSwitchCheckDefault">
                                </div>
                            </div>
                        </div>

                        <div id="pets-warning" hidden>
                            <p><img src="/static/icons/error.svg" alt=""> Плата за питомца будет согласована отдельно с
                                администратором перед заселением</p>
                        </div>

                        <div class="form__details__additional">
                            <span class="form__details__additional__header header__2">
                                Дополнительная информация
                            </span>
                        </div>
                        <div class="form__details__additional__select">
                            {#                        # TODO: пока не нужная фича#}
                            {#                            <span class="form__details__additional__select_title title__medium">#}
                            {#                                Откуда узнали о нас?#}
                            {#                            </span>#}
                            {#                        <div class="form__details__additional__select_wrap">#}
                            {#                            <select id="selectize-placeholder">#}
                            {#                                <option value="1">Интернет</option>#}
                            {#                                <option value="2">Соцсети</option>#}
                            {#                            </select>#}
                            {#                        </div>#}
                            {#                    </div>#}

                            <div class="form__details__additional__input">
                            <span class="form__details__additional__input_title title__medium">
                                Ваши пожелания
                            </span>
                                <input
                                        class="form__details__additional__input_textarea"
                                        placeholder='Оставьте свои пожелания'
                                        name="notes"
                                >
                            </div>

                            {#                        # TODO: Пока без промокодов#}
                            {#                    <div class="form__details__additional__promo">#}
                            {#                            <span class="form__details__additional__promo_title title__medium">#}
                            {#                                Промокод#}
                            {#                            </span>#}
                            {#                        <input class="form__details__additional__promo_input" placeholder='Введите промокод'></input>#}
                            {#                    </div>#}
                        </div>

                        <div class="form__payment">
                            <div class="form__payment__details" id="form__payment__details" hidden>
                                <div class="form__payment__details__block">
                                <span class="form__payment__details__text title__light">
                                    Предоплата
                                </span>
                                    <span class="form__payment__details__value title__medium number__small">
                                    <span id="amount_for_pay_main">0</span> ₽
                                </span>
                                </div>
                                <div class="form__payment__details__block">
                                <span class="form__payment__details__text title__light">
                                    + Комиссия
                                </span>
                                    <span class="form__payment__details__value title__medium number__small">
                                     <span id="prepayment_comission">0</span> ₽
                                </span>
                                </div>
                                {#                            <div class="form__payment__details__block">#}
                                {#                                <span class="form__payment__details__text title__light">#}
                                {#                                    Гости#}
                                {#                                </span>#}
                                {#                                <span class="form__payment__details__value title__medium number__small">#}
                                {#                                    400 ₽#}
                                {#                                </span>#}
                                {#                            </div>#}
                                {#                            TODO: скидку потом будем считать#}
                                {#                            <div class="form__payment__details__block">#}
                                {#                                <span class="form__payment__details__text title__light">#}
                                {#                                    Скидка#}
                                {#                                </span>#}
                                {#                                <span class="form__payment__details__value title__medium number__small">#}
                                {#                                    -100 ₽#}
                                {#                                </span>#}
                                {#                            </div>#}
                                <div class="form__payment__details__block">
                                <span class="form__payment__details__text header__2 color__primary">
                                    Итого:
                                </span>
                                    <span class="form__payment__details__value title__medium number__large">
                                    <span id="amount_for_dates_period">0</span> ₽
                                </span>
                                </div>
                            </div>

                            <button class="button form__payment__button button__primary" type="submit">
                                Забронировать
                            </button>

                            {#                            <input type="submit">#}

                            <span class="form__payment__text title__light" id="form__payment__text_title__light" hidden>
                            Чтобы забронировать объект, нужно внести предоплату <span class='form__payment__text__bold'><span
                                    id="amount_for_pay_additional">0</span> ₽.</span> Оставшуюся сумму вы оплатите при заселении.
                        </span>
                        </div>

                        <div class="form__checkbox">
                            <label class="input__checkbox__container">
                        <span class="input__checkbox__text title__light">Я согласен(-а) с условиями
                            <a href="" class="input__checkbox__link">
                                пользовательского соглашения</a> и
                            <a href="" class="input__checkbox__link">оферты</a></span>
                                <input type="checkbox" class="input__checkbox" required>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</section>
</body>
{% include 'common/footer.html' %}


<!-- SIDE MENU -->
<script>
    function openNav() {
        let width = document.body.offsetWidth;
        console.log(width)
        let navWidth = "30%";
        if (width < 480) navWidth = "100%";
        else if (width < 780) navWidth = "50%";
        document.getElementById("mySidenavText").style.transition = 'opacity 0.5s 0.5s ease-out';
        document.getElementById("mySidenavText").style.opacity = '1';
        setTimeout(document.getElementById("mySidenav").style.width = navWidth, 0);
        setTimeout(document.getElementById("mySidenavTop").style.width = navWidth, 0);
        setTimeout(document.getElementById("mySidenavBody").style.width = navWidth, 0);
        setTimeout(document.getElementById("mySidenavBody").style.display = 'flex', 0);
    }

    function closeNav() {
        document.getElementById("mySidenavText").style.transition = 'none';
        document.getElementById("mySidenavText").style.opacity = '0';
        setTimeout(document.getElementById("mySidenav").style.width = "0", 0);
        setTimeout(document.getElementById("mySidenavTop").style.width = "0", 0);
        setTimeout(document.getElementById("mySidenavBody").style.width = "0", 0);
        setTimeout(document.getElementById("mySidenavBody").style.display = 'none', 0);
    }
</script>

<!-- nice-select -->
<script src="{% static 'scripts/nice-select2.js' %}">
</script>

<script>
    document.addEventListener("DOMContentLoaded", function (e) {

        // default
        var els = document.querySelectorAll(".selectize");
        els.forEach(function (select) {
            NiceSelect.bind(select);
        });

        var options = {
            placeholder: 'Выберите вариант'
        };

        NiceSelect.bind(document.getElementById("selectize-placeholder"), options);
    });
</script>

<!-- BOOTSTRAP -->
<script src="{% static 'scripts/bootstrap/bootstrap.min.js' %}"></script>

<script>
    const carousel = new bootstrap.Carousel('#carouselExampleIndicators1');

    function updateActiveThumbnail(index) {
        document.querySelectorAll('.miniature').forEach((miniature, i) => {
            if (i === index) {
                miniature.classList.add('active');
                miniature.scrollIntoView({
                    behavior: 'smooth',
                    block: 'nearest',
                    inline: 'center'
                });
            } else {
                miniature.classList.remove('active');
            }
        });
    }

    document.querySelectorAll('.miniature').forEach((miniature) => {
        miniature.addEventListener('click', function () {
            const slideIndex = parseInt(this.getAttribute('data-slide-to'), 10);
            carousel.to(slideIndex);
        });
    });

    document.querySelector('#carouselExampleIndicators1').addEventListener('slide.bs.carousel', function (e) {
        updateActiveThumbnail(e.to);
    });

    updateActiveThumbnail(0);
</script>

<script>

    const whatsapp_share_text = `whatsapp://send?text=${encodeURIComponent(`Посмотри какая красивая квартира!😍😍😍

${window.location.href}

Я нашёл её на posutochno oneday`)}`;

    document.getElementById('whatsapp_share').href = whatsapp_share_text;

    document.getElementById('button__book').addEventListener('click', function () {
        const targetElement = document.getElementById('booking');
        const elementPosition = targetElement.getBoundingClientRect().top - window.pageYOffset;
        const offset = 90;

        window.scrollTo({
            top: elementPosition - offset,
            behavior: 'smooth'
        });
    });
</script>

<script>
    document.getElementById('button__up').addEventListener('click', function () {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });


    document.getElementById('flexSwitchCheckDefault').addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            document.getElementById('pets-warning').hidden = false;
        } else {
            document.getElementById('pets-warning').hidden = true;
        }
    })
</script>

<script>
    let arrival_date_input = document.getElementById('arrival_date');
    let departure_date_input = document.getElementById('departure_date');
    let adult_guests_input = document.getElementById('adult-guests');

    adult_guests_input.addEventListener('change', (event) => {
        console.log('change');
    });

    arrival_date_input.addEventListener('change', (event) => {
        let arrival_date_input_value = event.target.value;
        let departure_date_input_value = departure_date_input.value;

        if (departure_date_input_value !== '' && arrival_date_input_value !== '') {
            get_apartment_price_on_selected_dates(
                arrival_date_input_value,
                departure_date_input_value
            );
        }
    });

    departure_date_input.addEventListener('change', (event) => {
        let arrival_date_input_value = arrival_date_input.value;
        let departure_date_input_value = event.target.value;

        if (arrival_date_input_value !== '' && departure_date_input_value !== '') {
            get_apartment_price_on_selected_dates(
                arrival_date_input_value,
                departure_date_input_value
            );
        }
    });

    function change_guests_count() {
        let arrival_date_input_value = arrival_date_input.value;
        let departure_date_input_value = departure_date_input.value;

        if (arrival_date_input_value !== '' && departure_date_input_value !== '') {
            get_apartment_price_on_selected_dates(
                arrival_date_input_value,
                departure_date_input_value
            );
        }
    }

    function convert_date_format(date_string) {
        let tmp_date = new Date(date_string);
        return `${tmp_date.getDate()}.${tmp_date.getMonth() + 1}.${tmp_date.getFullYear()}`;
    }

    function set_price_data_to_placeholders(price_data) {
        document.getElementById('prepayment_comission').innerHTML = price_data['prepayment_comission'];
        document.getElementById('amount_for_dates_period').innerHTML = price_data['amount_for_dates_period'];
        document.getElementById('amount_for_pay_main').innerHTML = price_data['amount_for_pay'];
        document.getElementById('amount_for_pay_additional').innerHTML = price_data['amount_for_pay'];
    }

    function show_price_block() {
        price_block_div = document.getElementById('form__payment__details');
        info_block_div = document.getElementById('form__payment__text_title__light');
        price_block_div.hidden = false;
        info_block_div.hidden = false;
    }

    function hide_price_block() {
        price_block_div = document.getElementById('form__payment__details');
        info_block_div = document.getElementById('form__payment__text_title__light');
        price_block_div.hidden = true;
        info_block_div.hidden = true;
    }

    function check_apartment_available(arrival_date, departure_date) {
        let request_url = 'https://realtycalendar.ru/widgets/bookings/apartments/{{ apartment.real_calendar_id }}/event_calendars/valid?token=29f9b591c704f9a65bf43ecca4cb2093';
        let request_data = {
            "event_calendar": {
                "terms_of_service": "0",
                "begin_date": arrival_date,
                "end_date": departure_date,
                "arrival_time": "14:00",
                "departure_time": "12:00",
                "amount": 0,
                "notes": "",
                "status": 0,
                "prepayment": 0
            },
            "client": {
                "email": "",
                "phone": "",
                "fio": ""
            }
        };

        fetch(request_url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(request_data)
        })
            .then(response => {
                if (response.status === 422) {
                    // Обработка ответа с кодом 422
                    return response.json().then(data => {
                        console.log('Ошибка 422:', data);
                        if (data.errors && data.errors.end_date) {
                            document.getElementById('booking_date_error_1').hidden = false;
                            document.getElementById('booking_date_error_2').hidden = false;
                            hide_price_block();
                        } else {
                            document.getElementById('booking_date_error_1').hidden = true;
                            document.getElementById('booking_date_error_2').hidden = true;
                        }
                    });
                } else if (!response.ok) {
                    // Обработка других ошибок
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
    }

    function get_apartment_price_on_selected_dates(arrival_date, departure_date) {
        arrival_date_string = convert_date_format(arrival_date);
        departure_date_string = convert_date_format(departure_date);

        check_apartment_available(
            arrival_date_string,
            departure_date_string
        );

        guest_count_value = document.getElementById('adult-guests').value;

        let url = `https://realtycalendar.ru/widgets/bookings/apartments/{{ apartment.real_calendar_id }}/price.json?token=29f9b591c704f9a65bf43ecca4cb2093&humans=${guest_count_value}&begin_date=${arrival_date_string}&end_date=${departure_date_string}`;

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    hide_price_block();
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                console.log(data);

                show_price_block();

                set_price_data_to_placeholders(data);
            })
            .catch(error => {
                    hide_price_block();
                    console.error('There has been a problem with your fetch operation:', error);
                }
            );
    }
</script>

<script>
    $(document).ready(function () {
        initOnClickEvents();
    });

    function initOnClickEvents() {
        $('#inc-adult-guests').on('click', () => {
            document.getElementById('adult-guests').stepUp(1);
            change_guests_count();
        });
        $('#dec-adult-guests').on('click', () => {
            document.getElementById('adult-guests').stepDown(1);
            change_guests_count();
        });
    }
</script>

</html>